<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.
             org/thymeleaf-extras-springsecurity3"
>
  <head>
    <style>
      .header {
        padding-left: 3em;
      }
      .content {
        padding: 10em;
      }
    </style>
    <title>Jaethem8Admin</title>
  </head>
  <body>
    <div class="header">
      <h1>JaeTheM8Admin</h1>
    </div>
    <div class="content">
      <form
        th:action="@{/add/blogContent}"
        th:object="${blogContentDTO}"
        method="POST"
        enctype="multipart/form-data"
      >
        <h3>AddBlogContent</h3>
        <table>
          <tr>
            <td>BlogPostName:</td>
            <td><input type="text" th:field="*{title}" /></td>
          </tr>
          <tr>
            <td>location:</td>
            <td><input type="text" th:field="*{location}" /></td>
          </tr>
          <tr>
            <td>content:</td>
            <td><textarea type="text" th:field="*{content}"></textarea></td>
          </tr>
          <tr>
            <td>image:</td>
            <td><input type="text" th:field="*{image}" /></td>
          </tr>
          <tr>
            <td>code:</td>
            <td><textarea type="text" th:field="*{code}"></textarea></td>
          </tr>
          <tr>
            <td></td>
            <td><button>Add</button></td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
