<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />

    <title>Title</title>
  </head>
  <body>
    <div class="blog-wrapper">
      <div class="blog-header">
        <h1>BlogConetentAdd</h1>
      </div>
      <div class="blog-post-form">
        <form
          th:action="@{/admin/blog/addContent}"
          method="post"
          th:object="${blogContentDTO}"
        >
          <p>title <input type="text" th:field="*{title}" /></p>
          <p>location <input type="text" th:field="*{location}" /></p>
          <p>
            content
            <textarea style="width: 100%" th:field="*{content}"></textarea>
          </p>
          <p>
            code
            <textarea style="width: 100%" th:field="*{code}"></textarea>
          </p>
          <p>
            image
            <input type="file" th:field="*{image}" />
          </p>
          <input type="submit" />
        </form>
      </div>
    </div>
  </body>
</html>
