<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />

    <title>BlogPostAdd</title>
  </head>
  <body>
    <div class="blog-post-wrapper">
      <div class="blog-post-header">
        <h1>Add a blogPost</h1>
      </div>
      <div class="blog-post-form">
        <form
          th:action="@{/admin/blog/addPost}"
          method="post"
          th:object="${blogPostDTO}"
        >
          <p>Title <input type="text" th:field="*{title}" /></p>
          <p>Date <input type="text" th:field="*{pubDate}" /></p>
          <input type="submit" />
        </form>
      </div>
    </div>
  </body>
</html>
