<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />

    <title>Title</title>
  </head>
  <body>
    <div class="blog-wrapper">
      <div class="blog-header">
        <h1>BlogCodeAdd</h1>
      </div>
      <div class="blog-post-form">
        <form
          th:action="@{/admin/blog/addCode}"
          method="post"
          th:object="${blogCodeDTO}"
        >
          <p>title <input type="text" th:field="*{title}" /></p>
          <p>location <input type="text" th:field="*{location}" /></p>
          <p>
            code <textarea style="width: 100%" th:field="*{code}"></textarea>
          </p>
          <input type="submit" />
        </form>
      </div>
    </div>
  </body>
</html>
